body{
background-color: #a6b1e1 !important;
margin: 0;
}
h3{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-top: 30px;
  font-family: sans-serif;
  color: #fff;
}
.main-body{
  background-color: #a6b1e1;
}
.calc-body{
  width: 700px;
  height: 810px;
  background: #010a43;
  margin-left: 600px;
  margin-top: 65px;
  text-align: center;
}
.container-fluid{
max-width: 700px;
margin: 65px;
max-height: 100%;
}
#screen{
  width: 430px;
  height: 110px;
  margin-top: 60px;
  margin-bottom: 50px;
  pointer-events: none;
  font-size: 50px;
  text-align: right;
  font-weight: bold;
  padding-right: 90px;
}
.button{
  width: 70px;
  height: 70px;
  margin-right: 20px;
  font-size: 30px;
  font-weight:bold;
  background-color: #00a8cc;
}
.button:hover{
  background-color: #d7fffd;
}
.numbers1{
  padding-top: 30px;
}
.zero-btn{
  width: 167px;
  height: 70px;
  margin-right: 20px;
  font-size: 30px;
  font-weight:bold;
  background-color: #00a8cc;
}
.zero-btn:hover{
  background-color: #75daad;
}
.clear-btn{
  width: 258px;
  height: 70px;
  margin-right: 20px;
  font-size: 30px;
  font-weight:bold;
  background-color: #00a8cc;
}
.clear-btn:hover{
  background-color: #75daad;
}


@media (max-width:714px) {
#screen{
  margin-bottom: 20px;
  margin-top: 40px;
}
}
